.shoppingGrid {
  width: 100%;

  padding: 4rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: 0 auto;

  gap: 1rem;
  font-size: 3rem;

  letter-spacing: 0.2rem;

  h3 {
    transition: all 400ms ease-in-out;
  }
  a {
    color: black !important;
  }

  &:hover {
    h3 {
      color: rgba(0, 0, 0, 0.5);
    }
    a {
      color: black;
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100% !important;
    font-size: 1.5rem;
    overflow: hidden;
    gap: 5px;

    h3 {
      color: rgba(0, 0, 0, 0.5);
    }
    a {
      color: black;
    }
  }
}
