@import url(https://fonts.googleapis.com/css?family=Teachers:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teachers", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

input {
  appearance: none;
  outline: none;
  text-decoration: none;
  border: none;
}

a {
  appearance: none;
  color: inherit;
  font-style: normal;
  text-decoration: none;
}
